*{
	padding: 0;
	margin: 0;
	overflow-y: hidden;
}
body{
	background: gray;
}


#particles-js {
	height: 100vh;
	width: 100%;
	background: #444;
}

h1{
	position: relative;
	display: flex;

	justify-content: center;
	/* vertical-align: center; */
	color: white;
}